body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F6F6F6;
    color: black;
    padding: 20px;
}

.nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 40%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* Home page CSS start */
.homepage {
    background-image: url('hotel-booking.png'); 
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.homepage a{
    color: white;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
    flex: 1;
}

footer {
    background-color: #F6F6F6;
    color: black;
    text-align: center;
    padding: 20px;
}

/* Home page CSS end */

/* Room page CSS start */
.rooms{
    padding: 1%;
}
.rooms-heading-1{
    text-align: center;
    font-size: 1rem;
    color: #1D5C94;
    font-family: ui-monospace;
    font-weight: bold;
    margin: 0;
}

.rooms-heading-2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin: 0;
    margin-top: 5px;
}
.rooms-heading-2 span{
    color: #1D5C94;
}

.container-1 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}
.filter-section {
    padding: 4%;
    /* border: 1px solid #1D5C94; */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.room-img{
    width: 30%;
}
.room-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.room-content{
    width: 100%;
    padding: 2%;
}
.room-card h2 {
    margin-top: 0;
}
.room-card p {
    margin: 10px 0;
    color: #666565 !important;;
}
.room-card span{
    color: black;
    font-weight: bold;
}
.view-btn{
    background: #3783BF;
    padding: 16px;
    color: white;
    border: 0px;
    border-radius: 5px;
}
.book-btn{
    background: lightgray;
    padding: 16px;
    color: black;
    border: 0px;
    border-radius: 5px;
}
.filter-form, .view-more-div {
    display: flex;
}
.filter-form select {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.filter-submit, .view-more-btn{
    background: #3783BF;
    padding: 16px;
    color: white;
    border: 0px;
    border-radius: 5px 
}
.view-more-div{
    justify-content: center;
}
.view-more-btn{
    width: 20%;
    background: #E74A5B;
}
/* Room page CSS end */

/* About us page CSS start */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #f7f7f7;
}
h2 {
    color: #d0a465;
}
p {
    line-height: 1.6;
    color: #060505;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #1a1616;
}
footer {
    text-align: center;
    margin-top: 30px;
    color: #eba3a3a2;
}
/* About us page CSS end */


